.App-header {
  border-bottom: 1px solid black;
}

.App-header h1 {
  margin: 0 0 0 20px;
  font-size: 2em;
}

.App-header nav {
  display: flex;
  margin-right: 60px;
}

.App-header .topbtn {
  height: 60px;
  border-bottom: 0;
}

.App-header .topbtn:last-child {
  border-left: 0;
}

.App-main {
  margin: 40px 60px 0;
}

@media (max-width: 820px) {
  .App-header {
    display: block;
  }

  .App-header nav {
    margin-left: 20px;
  }
}
